# Square API Credentials
# Get these from https://developer.squareup.com/apps
SQUARE_ACCESS_TOKEN=EAAAl1tQX1uxBodaTLbQ1NGUzKXQVjSB1wQFiuSg9hTwBiao-zhk6mLmOGlVUd0F
SQUARE_APPLICATION_ID=sandbox-sq0idb-_8XTO7lEDH_tkIN21nJmpw
SQUARE_LOCATION_ID=LAZ56JWNSCBKP

# Environment: 'sandbox' for testing, 'production' for live payments
SQUARE_ENVIRONMENT=sandbox

# Admin PIN for accessing the dashboard (change this!)
ADMIN_PIN=1234

# App URL (used for Square Web Payments SDK)
NEXT_PUBLIC_SQUARE_APPLICATION_ID=sq0idp-6eZU9e6hVLX2zkUe_i3LkA
NEXT_PUBLIC_SQUARE_LOCATION_ID=LAZ56JWNSCBKP
NEXT_PUBLIC_SQUARE_ENVIRONMENT=sandbox
